{% extends 'base.html' %}

{% block content%}
{% load static %}
<style>
    #contact {
        border-bottom: 0.4vw solid black;
        padding-top: 0.5vw;
    }
    #tran_contact:hover {
        color:black;
    }
    .contact_title {
        text-align:center;
        font-size:1.5vw;
        font-weight:bold;
        margin:0 0 1.5vw 0;
        width: 16vw;
    }
    .contact_content {
        display:flex;
        flex-direction:column;
        width: 16vw;
        border-radius: 2vw;
        background-color: #eeee;
    }
    .contact_img {
        display: flex;
        justify-content: center;
        margin: 4vw auto;
    }
    .contact_mail {
        text-align: center;
        color:white;
        border-radius: 0 0vw 2vw 2vw;
        padding: 1.5vw 0;
        font-size: 1.2vw;
        font-weight: bold;
        margin: 0;
    }
</style>

<div style="display: flex;justify-content:space-around; margin: 5vw 15vw 12vw 15vw;">
    <div styl="border:0;">
        <div class="contact_title"><span style="color:#F39926">Mail</span></div>
        <div class="contact_content">
            <a href="mailto:yonsei@likelion.org">
                <div class="contact_img" >
                    <img src="{% static 'gmail2.png' %}" style="width:6vw;height:6vw;">
                </div>
            </a>
            <div class="contact_mail" style="background-color: #F39926;border: 0">yonsei@likelion.org</div>    
        </div>    
    </div>
    <div>
        <div class="contact_title"><span style="color:rgb(33, 60, 148)">Facebook</span></div>
        <div class="contact_content">
            <a href="https://www.facebook.com/yonsei.likelion" target="_blank">
                <div class="contact_img">
                    <img src="{% static 'facebook.png' %}" style="width:6vw;height:6w;">
                </div>
            </a>
            <div class="contact_mail" style="background-color: rgb(33, 60, 148);border: 0;">@yonsei.likelion</div>    
        </div>    
    </div>
    <div>
        <div class="contact_title"><span style="color:#c464a4">Instagram</span></div>
        <div class="contact_content">
            <a href="https://www.instagram.com/likelion_yonsei" target="_blank">
                <div class="contact_img">
                    <img src="{% static 'instagram.png' %}" style="width:6vw;height:6w;">
                </div>
            </a>
            <div class="contact_mail" style="background-color: #c464a4;border: 0;">@likelion_yonsei</div>    
        </div>    
    </div>
</div>

{% endblock %}