{% extends 'base.html' %}

{% block content%}
{% load static %}
<style>
    #contact {
        border-bottom: 0.4vw solid black;
        padding-top: 0.5vw;
    }
    #tran_contact:hover {
        color:black;
    }
</style>

<div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <a href="mailto:yonsei@likelion.org">
            <div class="card-header">메일</div>
            <div class="card-body">
              <h5 class="card-title">aaa@gmail.com</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
    </div>
    
    
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <a href="https://www.facebook.com/yonsei.likelion" target="_blank">
            <div class="card-header">페이스북</div>
            <div class="card-body">
              <h5 class="card-title">@yonsei.likelion</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
    </div>

    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <a href="https://www.instagram.com/likelion_yonsei" target="_blank">
            <div class="card-header">인스타그램</div>
            <div class="card-body">
              <h5 class="card-title">@likelion_yonsei</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}