{% extends 'base.html' %}

{% block content%}
{% load static %}
<style>
    #recruit {
        border-bottom: 0.4vw solid black;
        padding-top: 0.5vw;
    }
    #tran_recruit:hover {
        color:black;
    }
    .button {
        transition-duration: 0.4s;
        font-weight:bold;
        border:0;
        border-radius: 1.5vw;
        background-color:#F39926;
        color: white;
        padding: 0.5vw 0;
        font-size: 1.7vw;
        font-family: 'Noto Sans KR', sans-serif;
        width: 18vw;
        margin: 2vw auto 0 auto;
    }
    .button:hover {
        background-color: white;
        color: #F39926;
    }
    .recruit_content {
        background-color: #eeee;
        width:30vw;
        border-radius: 1vw;
        padding: 2vw;
        margin-top: 5vw;
    }
    .recruit_title {
        font-family: 'Noto Sans KR';
        font-weight: bold;
        font-size: 1.8vw;
        text-align: center;
        margin-bottom: 1.5vw;
    }
    .recruit_detail {
        font-family: sans-serif;
        font-size: 1.3vw;
        margin: 0.7vw 0vw;
    }
    .hideme {
        opacity: 1;
        display:flex;
        justify-content: space-around;
        animation: fadein 2s;
    }
    @keyframes fadein {
        from {
            opacity: 0;
            transform: translateY(-1vw);
            
        }
        to {
            opacity: 1;
        }
    }

</style>

<div style="margin-bottom:11.5vw;">
    <!-- 리크루팅 -->
    <div style="background-color: black; display: flex;flex-direction:column;height: 30vw">
        <div style="margin:auto;display: flex;flex-direction: column; width: 100vw;">
            <img src="{% static '문구.png' %}" width="60%" style="margin:auto;">
            {% if recruit_url %}
            <button class="button">
                <a href="{{recruit_url.url}}" target="_blank">
                    <div>
                        지원하기
                    </div>
                </a>
            </button>
            {% else %}
                <button class="button" onclick="javascript:btn()">지원하기</button>
            {% endif %}    
        </div>
    </div>

    <script>
        function btn(){
            alert('현재 모집기간이 아닙니다');
        }
    </script>

    <!-- 리크루팅 URL 등록 -->
    {% if user.is_authenticated %}
    <form action="{% url 'recruit' %}" method="post" style="margin: 4vw 0 0 0;">
        {%csrf_token%}
        <table style="margin-right: 2vw;display: flex;justify-content:center;">
            {{form.as_table}}
        </table>
        <div style="display: flex;justify-content:center;margin-top: 1.5vw;">
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#memberModal">
                등록
            </button>    
        </div>
    </form>
    {% endif %}

    <!-- 모집 조건 -->
    <div class="hideme">
        <div class="recruit_content" style="margin-left: 9vw; margin-right: 2vw;">
            <div class="recruit_title">모집절차</div>
            <div class="recruit_detail"><strong style="color:#F39926">1차</strong> 서류 모집</div>
            <div class="recruit_detail" style="margin-left:1vw;font-size:1.2vw;">기획/디자인, Front-End, Back-End <br> <strong>총 3트랙</strong>으로 나누어 모집</div>
            <div class="recruit_detail" style="margin-top:1.5vw;"><strong style="color:#F39926">2차</strong> 최종 면접</div>
        </div>
        <div class="recruit_content" style="margin-left: 2vw; margin-right: 2vw;">
            <div class="recruit_title">지원자격</div>
            <div class="recruit_detail">모든 활동을 <strong style="color:#F39926">성실</strong>히 참여할 수 있고</div>
            <div class="recruit_detail">창업/개발에 <strong style="color:#F39926">열정</strong>과 관심이 많고</div>
            <div class="recruit_detail">팀원간의 <strong style="color:#F39926">협업</strong>능력을 가지고 있는</div>
            <div class="recruit_detail"><strong>연세대학교(서울)</strong> 대학생/대학원생</div>
        </div>
        <div class="recruit_content" style="margin-left: 2vw; margin-right: 9vw;">
            <div class="recruit_title">정기세션</div>
            <div class="recruit_detail">매주<strong style="color:#F39926"> 목요일 오후 7시</strong>부터</div>
            <div class="recruit_detail">약 <strong style="color:#F39926">1~2시간</strong> 동안</div>
            <div class="recruit_detail"><strong style="color:#F39926">오프라인</strong> 세션 진행</div>
            <div class="recruit_detail" style="font-size:1.2vw">* 상황에 따라 <strong>온라인</strong>으로 세션 진행</div>
        </div>
    </div>

</div>

{% endblock %}